# Análise de irradiações de Vilhena dos anos de 2020, 2021 e 2022

Fonte dos dados: INMET

## Importando as Bibliotecas necessárias

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

## Importando os Arquivos

In [17]:
#As 8 primeiras linhas do csv é um cabeçalho com os dados da estação e será importado para a primeira variável header_vilhena_ano, 
#as demais linhas serão importadas para a variável vilhena_ano

#2020
header_vilhena_2020 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2020_A_31-12-2020.csv', sep = ';',encoding='ISO-8859-1',  nrows=7)
vilhena_2020 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2020_A_31-12-2020.csv', sep = ';',encoding='ISO-8859-1',  skiprows=8)
#2021
header_vilhena_2021 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2021_A_31-12-2021.csv', sep = ';',encoding='ISO-8859-1',  nrows=7)
vilhena_2021 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2021_A_31-12-2021.csv', sep = ';',encoding='ISO-8859-1',  skiprows=8)
#2022
header_vilhena_2022 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2022_A_31-12-2022.csv', sep = ';',encoding='ISO-8859-1',  nrows=7)
vilhena_2022 = pd.read_csv('INMET_N_RO_A938_VILHENA_01-01-2022_A_31-12-2022.csv', sep = ';',encoding='ISO-8859-1',  skiprows=8)

## Informações da estação

In [20]:
header_vilhena_2022

             REGIAO:             N
0                UF:            RO
1           ESTACAO:       VILHENA
2      CODIGO (WMO):          A938
3          LATITUDE:  -12,73499999
4         LONGITUDE:  -60,15777777
5          ALTITUDE:         583,3
6  DATA DE FUNDACAO:      26/08/08

## Variáveis disponíveis no banco

In [4]:
pd.DataFrame(vilhena_2022.dtypes).reset_index().rename(columns={'index':'Variáveis',0:'Tipo'})

                                            Variáveis     Tipo
0                                                Data   object
1                                            Hora UTC   object
2                    PRECIPITAÇÃO TOTAL, HORÁRIO (mm)   object
3   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORAR...   object
4     PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)   object
5    PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)   object
6                             RADIACAO GLOBAL (Kj/m²)   object
7        TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)   object
8                TEMPERATURA DO PONTO DE ORVALHO (°C)   object
9          TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)   object
10         TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)   object
11   TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)   object
12   TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)   object
13           UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)  float64
14           UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)  float64
15                UMIDADE RELATIVA DO AR, HORARIA (%)  float64
16               VENTO, DIREÇÃO HORARIA (gr) (° (gr))  float64
17                         VENTO, RAJADA MAXIMA (m/s)   object
18                    VENTO, VELOCIDADE HORARIA (m/s)   object
19                                        Unnamed: 19  float64

## Tratamento dos dados

In [18]:
#Tratamento dos dados de tempo
#Juntando a data e a hora, transformando no tipo datetime e convertendo para o horario brasileiro

delta = timedelta(hours=3) #diferença entre horário da base de dados (UTC) e Brasil

vilhena_2020['Datetime'] = pd.to_datetime(vilhena_2020['Data']+' ' + vilhena_2020['Hora UTC'].str[:4]) - delta
vilhena_2021['Datetime'] = pd.to_datetime(vilhena_2021['Data']+' ' + vilhena_2021['Hora UTC'].str[:4]) - delta
vilhena_2022['Datetime'] = pd.to_datetime(vilhena_2022['Data']+' ' + vilhena_2022['Hora UTC'].str[:4]) - delta

#Excluindo as colunas Data, Hora UTC e Unnamed: 19

vilhena_2020.drop(['Data','Hora UTC','Unnamed: 19'],axis=1,inplace=True)

#Criando novas colunas Data e Hora recalculadas

vilhena_2020['Data'] = vilhena_2020['Datetime'].dt.date
vilhena_2021['Data'] = vilhena_2021['Datetime'].dt.date
vilhena_2022['Data'] = vilhena_2022['Datetime'].dt.date
vilhena_2020['Hora'] = vilhena_2020['Datetime'].dt.time
vilhena_2021['Hora'] = vilhena_2021['Datetime'].dt.time
vilhena_2022['Hora'] = vilhena_2022['Datetime'].dt.time

# Criando coluna mês
vilhena_2020['Mês'] = vilhena_2020['Datetime'].dt.month
vilhena_2021['Mês'] = vilhena_2021['Datetime'].dt.month
vilhena_2022['Mês'] = vilhena_2022['Datetime'].dt.month

In [19]:
#Transformando as variáveis 'RADIACAO GLOBAL (Kj/m²)' em float 
vilhena_2020['RADIACAO GLOBAL (Kj/m²)']  = pd.to_numeric(vilhena_2020['RADIACAO GLOBAL (Kj/m²)'].str.replace(',', '.'))
vilhena_2021['RADIACAO GLOBAL (Kj/m²)']  = pd.to_numeric(vilhena_2021['RADIACAO GLOBAL (Kj/m²)'].str.replace(',', '.'))
vilhena_2022['RADIACAO GLOBAL (Kj/m²)']  = pd.to_numeric(vilhena_2022['RADIACAO GLOBAL (Kj/m²)'].str.replace(',', '.'))
#Criando coluna com a radiação em wh/m²
vilhena_2020['RADIACAO GLOBAL (KWh/m²)'] = vilhena_2020['RADIACAO GLOBAL (Kj/m²)'] / 3600
vilhena_2021['RADIACAO GLOBAL (KWh/m²)'] = vilhena_2021['RADIACAO GLOBAL (Kj/m²)'] / 3600
vilhena_2022['RADIACAO GLOBAL (KWh/m²)'] = vilhena_2021['RADIACAO GLOBAL (Kj/m²)'] / 3600

## Vilhena 2020

### Informações Gerais dos Dados

In [21]:
vilhena_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 22 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                       8064 non-null   object
 1   PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)  8784 non-null   object
 2   PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)        8784 non-null   object
 3   PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)       8784 non-null   object
 4   RADIACAO GLOBAL (Kj/m²)                                4695 non-null   float64
 5   TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)           8784 non-null   object
 6   TEMPERATURA DO PONTO DE ORVALHO (°C)                   8784 non-null   object
 7   TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)             8784 non-null   object
 8   TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)             8784 non-null   object
 9   TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)       8784 non-null   object
 10  TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)       8784 non-null   object
 11  UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)               8784 non-null   int64
 12  UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)               8784 non-null   int64
 13  UMIDADE RELATIVA DO AR, HORARIA (%)                    8784 non-null   int64
 14  VENTO, DIREÇÃO HORARIA (gr) (° (gr))                   6665 non-null   float64
 15  VENTO, RAJADA MAXIMA (m/s)                             6667 non-null   object
 16  VENTO, VELOCIDADE HORARIA (m/s)                        6666 non-null   object
 17  Datetime                                               8784 non-null   datetime64[ns]
 18  Data                                                   8784 non-null   object
 19  Hora                                                   8784 non-null   object
 20  Mês                                                    8784 non-null   int64
 21  RADIACAO GLOBAL (KWh/m²)                               4695 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(14)
memory usage: 1.5+ MB

### Número de dias na base de dados 2020

In [22]:
#número de dias na base
vilhena_2020['Data'].nunique()

367

### Quantidade de Registros totais de radiação para cada hora

In [23]:
pd.DataFrame(vilhena_2020.groupby('Hora')['RADIACAO GLOBAL (KWh/m²)'].count() )

          RADIACAO GLOBAL (KWh/m²)
Hora
00:00:00                         4
01:00:00                         2
02:00:00                         3
03:00:00                         7
04:00:00                         8
05:00:00                         8
06:00:00                         4
07:00:00                       125
08:00:00                       366
09:00:00                       366
10:00:00                       366
11:00:00                       366
12:00:00                       366
13:00:00                       366
14:00:00                       366
15:00:00                       366
16:00:00                       366
17:00:00                       366
18:00:00                       366
19:00:00                       366
20:00:00                       123
21:00:00                         8
22:00:00                         4
23:00:00                         7

**No período de 8 as 19 horas praticamente todos os dias tiveram medição.**

Há alguns poucos registros de medições de radiação em horários poucos prováveis, após as 19:00 e antes das 05:00.

Como exemplo, seguem medições as 2 da manhã:

In [24]:
hora = data=pd.to_datetime('02:00:00').time()
vilhena_2020[(vilhena_2020['RADIACAO GLOBAL (KWh/m²)'] >0) & (vilhena_2020['Hora'] == hora)][['Datetime','RADIACAO GLOBAL (KWh/m²)']]

                Datetime  RADIACAO GLOBAL (KWh/m²)
3029 2020-05-06 02:00:00                  0.000583
6821 2020-10-11 02:00:00                  0.000306
8453 2020-12-18 02:00:00                  0.000333

### Quantidade de Registros totais de radiação para cada dia do ano.

In [25]:
pd.DataFrame(vilhena_2020.groupby('Data')['RADIACAO GLOBAL (KWh/m²)'].count() ).sort_values(by='RADIACAO GLOBAL (KWh/m²)')

            RADIACAO GLOBAL (KWh/m²)
Data
2019-12-31                         0
2020-06-19                        12
2020-06-20                        12
2020-06-21                        12
2020-06-22                        12
...                              ...
2020-12-18                        16
2020-10-14                        16
2020-05-23                        16
2020-05-07                        17
2020-02-04                        17

[367 rows x 1 columns]

### Quantidade de Registros de radiação medidos nos dias X quantidades de dias

Mais de 99% dos dias apresentaram 12 ou mais medições.

Temos em média cerca de 13 medições por dia.

In [66]:
df_cont_med_rad = pd.DataFrame(vilhena_2020.groupby('Data')['RADIACAO GLOBAL (KWh/m²)'].count().value_counts())
df_cont_med_rad.reset_index(inplace=True)
df_cont_med_rad.columns = ['Qtd de Medições','Nº de dias']
df_cont_med_rad.sort_values(by='Qtd de Medições',)

   Qtd de Medições  Nº de dias
6                0           1
0               12         175
1               13         104
2               14          70
3               15          11
4               16           4
5               17           2

**Média de medições por dia**

In [67]:
(df_cont_med_rad['Qtd de Medições'] * df_cont_med_rad['Nº de dias']).sum() / df_cont_med_rad['Nº de dias'].sum()

12.792915531335149

**Nº de dias com 12 medições ou mais**

In [78]:
selecao =df_cont_med_rad['Qtd de Medições'] >= 12
df_cont_med_rad[selecao]['Nº de dias'].sum()

366

**Percentual de dias com 12 ou mais medições**

In [81]:
df_cont_med_rad[selecao]['Nº de dias'].sum()/df_cont_med_rad['Nº de dias'].sum()

0.997275204359673

### Quantidade de Registros de radiação medidos por mês

In [45]:
df_cont_med_rad_mes = pd.DataFrame(vilhena_2020.groupby ('Mês')['RADIACAO GLOBAL (KWh/m²)'].count())
df_cont_med_rad_mes.columns = ['Qtd de Medições']
df_cont_med_rad_mes

     Qtd de Medições
Mês
1                431
2                387
3                397
4                369
5                383
6                364
7                372
8                373
9                369
10               410
11               405
12               435

### Quantidade de Registros de radiação medidos por mês e  por dia

In [60]:
df_cont_med_rad_mes = pd.DataFrame(vilhena_2020.groupby (['Mês','Data'])['RADIACAO GLOBAL (KWh/m²)'].count())
df_cont_med_rad_mes.columns = ['Qtd de Medições']
df_cont_med_rad_mes

                Qtd de Medições
Mês Data
1   2020-01-01               14
    2020-01-02               15
    2020-01-03               14
    2020-01-04               14
    2020-01-05               14
...                         ...
12  2020-12-27               14
    2020-12-28               14
    2020-12-29               14
    2020-12-30               14
    2020-12-31               14

[367 rows x 1 columns]

### Radiação média global por mês

In [84]:
df_cont_med_rad_mes = pd.DataFrame(vilhena_2020.groupby (['Mês'])['RADIACAO GLOBAL (KWh/m²)'].mean())
df_cont_med_rad_mes.columns = ['Qtd de Medições']
df_cont_med_rad_mes

     Qtd de Medições
Mês
1           0.354972
2           0.336184
3           0.350125
4           0.392828
5           0.366271
6           0.367277
7           0.420343
8           0.435694
9           0.388227
10          0.375009
11          0.433493
12          0.330547

### Radiação média global por dia

In [87]:
df_cont_rad_dia = pd.DataFrame(vilhena_2020.groupby (['Mês','Data'])['RADIACAO GLOBAL (KWh/m²)'].mean())
df_cont_rad_dia.columns = ['Radiação Média (kWh/m²)']
df_cont_rad_dia

                Radiação Média (kWh/m²)
Mês Data
1   2020-01-01                 0.390560
    2020-01-02                 0.200193
    2020-01-03                 0.237720
    2020-01-04                 0.279550
    2020-01-05                 0.233435
...                                 ...
12  2020-12-27                 0.337994
    2020-12-28                 0.193210
    2020-12-29                 0.294107
    2020-12-30                 0.344429
    2020-12-31                 0.352026

[367 rows x 1 columns]

### Pior radiação média por dia

In [92]:
selecao = df_cont_rad_dia['Radiação Média (kWh/m²)'] == df_cont_rad_dia['Radiação Média (kWh/m²)'].min()
df_cont_rad_dia[selecao]

                Radiação Média (kWh/m²)
Mês Data
3   2020-03-20                 0.087363

### Irradiação no Pior dia

In [100]:
df_cont_rad_dia[selecao].index.get_level_values('Data')[0]

datetime.date(2020, 3, 20)

In [103]:
data=df_cont_rad_dia[selecao].index.get_level_values('Data')[0]
vilhena_2020[vilhena_2020['Data'] == data][['Datetime','RADIACAO GLOBAL (KWh/m²)']]

                Datetime  RADIACAO GLOBAL (KWh/m²)
1899 2020-03-20 00:00:00                       NaN
1900 2020-03-20 01:00:00                       NaN
1901 2020-03-20 02:00:00                       NaN
1902 2020-03-20 03:00:00                       NaN
1903 2020-03-20 04:00:00                       NaN
1904 2020-03-20 05:00:00                       NaN
1905 2020-03-20 06:00:00                       NaN
1906 2020-03-20 07:00:00                       NaN
1907 2020-03-20 08:00:00                  0.020528
1908 2020-03-20 09:00:00                  0.076667
1909 2020-03-20 10:00:00                  0.071139
1910 2020-03-20 11:00:00                  0.217444
1911 2020-03-20 12:00:00                  0.236361
1912 2020-03-20 13:00:00                  0.174333
1913 2020-03-20 14:00:00                  0.174111
1914 2020-03-20 15:00:00                  0.067389
1915 2020-03-20 16:00:00                  0.024722
1916 2020-03-20 17:00:00                  0.032222
1917 2020-03-20 18:00:00                  0.028861
1918 2020-03-20 19:00:00                  0.011611
1919 2020-03-20 20:00:00                  0.000333
1920 2020-03-20 21:00:00                       NaN
1921 2020-03-20 22:00:00                       NaN
1922 2020-03-20 23:00:00                       NaN

In [342]:
vilhena_2020[vilhena_2020['Data'] == data][['RADIACAO GLOBAL (Kj/m²)','RADIACAO GLOBAL (KWh/m²)']].mean()

RADIACAO GLOBAL (Kj/m²)     1004.646154
RADIACAO GLOBAL (KWh/m²)       0.279068
dtype: float64

datetime.timedelta(seconds=10800)

Timestamp('2020-01-19 21:18:00')

In [414]:
hora - delta

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.timedelta'